@model FPTBook.Models.Account

@{
    ViewData["Title"] = "Add Account";
}
<div class="col-md-10 mx-auto py-4">
    <div class="card">
        <div class="card-header bg-primary text-uppercase text-white">
            <h4>Add New Account</h4>
        </div>
        <div class="card-body">
            <form asp-action="Add">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name" class="control-label"></label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Role" class="control-label"></label>
                            <select asp-for="Role" class="form-control">
                                <option value="">Choose Role</option>
                                <option value="Customer">Customer</option>
                                <option value="Store Owner">Store Owner</option>
                            </select>
                            <span asp-validation-for="Role" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" />
                            <span asp-validation-for="Username" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Password" class="control-label"></label>
                            <input asp-for="Password" class="form-control" />
                            <span asp-validation-for="Password" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <label asp-for="ProfilePicture" class="control-label"></label>
                    <div class="custom-file">
                        <input asp-for="ProfilePicture" class="custom-file-input" id="customFile" type="file">
                    </div>
                    <span asp-validation-for="ProfilePicture" class="text-danger"></span>
                </div>
                <br />
                <div class="form-group">
                    <input type="submit" value="Add" class="btn btn-primary" />
                </div>
                <br />
                <div>
                    <a asp-action="Index">Back to Account Manager</a>
                </div>
            </form>
        </div>
    </div>
</div>